/* DK Blood */
.dk-blood {
color: #c41e2e;
}

/* Dk Frost */
.dk-frost {
color: #c41e2e;
}

/* DK Unholy */
.dk-unholy {
 color: #c41e2e;
}

/* DH Havoc */
.dh-havoc {
color: #a330c9;
}

/* DH Vengeance */
.dh-vengeance {
color: #a330c9;
}

/* Druid Balance */
.druid-balance {
color: #ff7d0a;
}

/* Druid Feral */
.druid-feral {
color: #ff7d0a;
}

/* Druid Guardian */
.druid-guardian {
color: #ff7d0a;
}

/* Druid Restoration */
.druid-restoration {
color: #ff7d0a;
}

/* Hunter Beast Mastery */
.hunter-beastmastery {
color: #abd473;
}

/* Hunter Marksmanship */
.hunter-marksmanship {
color: #abd473;
}

/* Hunter Survival */
.hunter-survival {
color: #abd473;
}

/* Mage Arcane */
.mage-arcane {
color: #69ccf0;
}

/* Mage Fire */
.mage-fire {
color: #69ccf0;
}

/* Mage Frost */
.mage-frost {
color: #69ccf0;
}

/* Monk Brewmaster */
.monk-brewmaster {
color: #00c77b;
}

/* Monk Mistweaver */
.monk-mistweaver {
color: #00c77b;
}

/* Monk Windwalker */
.monk-windwalker {
color: #00c77b;
}

/* Paladin Holy */
.paladin-holy {
color: #f58cba;
}

/* Paladin Protection */
.paladin-protection {
color: #f58cba;
}

/* Paladin Retribution */
.paladin-retribution {
color: #f58cba;
}

/* Priest Discipline */
.priest-discipline {
color: #eee;
}

/* Priest Holy */
.priest-holy {
color: #eee;
}

/* Priest Shadow */
.priest-shadow {
color: #eee;
}

/* Rogue Assassination */
.rogue-assassination {
color: #fff55d;
}

/* Rogue Outlaw */
.rogue-outlaw {
color: #fff55d;
}

/* Rogue Subtlety */
.rogue-subtlety {
color: #fff55d;
}

/* Shaman Elemental */
.shaman-elemental {
color: #2459db;
}

/* Shaman Enhancement */
.shaman-enhancement {
color: #2459db;
}

/* Shaman Restoration */
.shaman-restoration {
color: #2459db;
}

/* Warlock Affliction */
.warlock-affliction {
color: #9482ca;
}

/* Warlock Demonology */
.warlock-demonology {
color: #9482ca;
}

/* Warlock Destruction */
.warlock-destruction {
color: #9482ca;
}

/* Warrior Arms */
.warrior-arms {
color: #c79c6e;
}

/* Warrior Fury */
.warrior-fury {
color: #c79c6e;
}

/* Warrior Protection */
.warrior-protection {
color: #c79c6e;
}