<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head"></head>
<body>
<div class="container container-prawn">
    <div th:replace="layout :: site-header"></div>

    <div class="content">
        <div id="content-header">
            <h1>FAQ</h1>
            <p>Lorem ipsum avec des carottes</p>
        </div>

        <div class="question">
            <h2>Why?</h2>
        </div>
        <div class="response">
            <p>Because !</p>
        </div>
    </div>

    <footer th:replace="layout :: site-footer"></footer>
    <div style="clear:both"></div>
</div>
</body>
</html>