<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head th:fragment="site-head">-->
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <link rel="icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}"/>
    <script type="text/javascript" src="//wow.zamimg.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    <!--<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>-->
    <!--<script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>-->
    <!--<meta th:include="this :: head" th:remove="tag"/>-->
</head>
<body>

<!--<header th:replace="layout :: site-header"/>-->

<h1>Welcome to Spring MVC</h1>

<!--Now is: <b th:text="${execInfo.now.time}">date and time</b>-->


<!--<form action="#" th:action="@{/submit}" method="post">-->
<!--<ul>-->
<!--&lt;!&ndash;<li th:each="err : ${#fields.errors('pawnstring')}" th:text="${err}"/>&ndash;&gt;-->
<!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>-->
<!--</ul>-->


<form method="post" th:object="${loginForm}" th:action="@{/submit}">
    <fieldset>
        <label for="pawnstring"></label>
        <input id="pawnstring" type="text" th:field="*{pawnstring}" th:errorclass="fieldError"/>
        <div>
            <label for="wowSpec">Class:</label>
            <select id="wowSpec" th:field="*{wowSpecId}">
                <option th:each="wowSpec : ${wowSpecs}"
                        th:value="${wowSpec.wowId}"
                        th:text="${wowSpec.name}">Class
                </option>
            </select>
        </div>
        <div><input type="submit" value="Login" /></div>
    </fieldset>
</form>
<!--<footer th:replace="layout :: site-footer"/>-->
</body>
</html>