<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head"></head>
<body>
<div class="container container-prawn">
    <div th:replace="layout :: site-header"></div>

    <div class="content">
        <div id="content-header">
            <h1>Find my Best in Slots !</h1>
            <p>Fill your Pawn String </p>
        </div>
        <form method="post" th:object="${loginForm}" th:action="@{/submit}">
            <fieldset>
                <div>
                    <label for="pawnstring">Pawn String:</label>
                    <input id="pawnstring" type="text" th:field="*{pawnstring}" class="pawnstring"
                           th:errorclass="fieldError"/>
                </div>
                <div>
                    <label for="wowSpec">Class:</label>
                    <select id="wowSpec" th:field="*{wowSpecId}" class="select-wow-class">
                        <option th:each="wowSpec : ${wowSpecs}"
                                th:value="${wowSpec.wowId}"
                                th:text="${wowSpec.wowClass.name} + ' ' + ${wowSpec.name}"
                                th:class="${wowSpec.cssClass}"
                                class="wow-class">Class
                        </option>
                        <!--th:class="${isAdmin}? adminclass : userclass"-->
                    </select>
                </div>
                <div><input type="submit" value="Find my BiS !" class="submit"/></div>
            </fieldset>
        </form>
    </div>
    <footer th:replace="layout :: site-footer"></footer>
    <div style="clear:both"></div>
</div>
</body>
</html>