<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head"></head>
<body>
<div class="container container-prawn">
    <div th:replace="layout :: site-header"></div>

    <div class="content">
        <div id="content-header">
            <h1>Report</h1>
            <p>ancd</p>
        </div>
        <!--<table>-->
        <!--<tr>-->
        <div class="report">
            <h1 th:text="${report.title}"></h1>
            <h2>Summary</h2>


            <table class="report-table">
                <tr>
                    <th>Slot</th>
                    <th>Item</th>
                    <th>Boss</th>
                </tr>
                <tr>
                    <td>Head</td>
                    <td class="textbold"><a th:href="@{${report.head.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${report.head.bossWowheadUrl}}" th:text="${report.head.name}">Loading...</a></td>
                </tr>
                <tr>
                    <td>Neck</td>
                    <td class="textbold"><a th:href="@{${report.neck.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${report.neck.bossWowheadUrl}}">Loading...</a></td>
                </tr>
                <tr>
                    <td>Shoulders</td>
                    <td class="textbold"><a th:href="@{${report.shoulders.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${report.shoulders.bossWowheadUrl}}">Loading...</a></td>
                </tr>
                <tr>
                    <td>Back</td>
                    <td class="textbold"><a th:href="@{${report.back.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${report.back.bossWowheadUrl}}">Loading...</a></td>
                </tr>
                <!--<tr>-->
                <!--<td>Chest</td>-->
                <!--<td class="textbold"><a th:href="@{${report.chest.wowheadUrl}}">Loading...</a></td>-->
                <!--<td><a th:href="@{${report.chest.bossWowheadUrl}}">Loading...</a></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Wrists</td>-->
                <!--<td class="textbold"><a th:href="@{${report.wrists.wowheadUrl}}">Loading...</a></td>-->
                <!--<td><a th:href="@{${report.wrists.bossWowheadUrl}}">Loading...</a></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Hands</td>-->
                <!--<td class="textbold"><a th:href="@{${report.hands.wowheadUrl}}">Loading...</a></td>-->
                <!--<td><a th:href="@{${report.hands.bossWowheadUrl}}">Loading...</a></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Waist</td>-->
                <!--<td class="textbold"><a th:href="@{${report.waist.wowheadUrl}}">Loading...</a></td>-->
                <!--<td><a th:href="@{${report.waist.bossWowheadUrl}}">Loading...</a></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Legs</td>-->
                <!--<td class="textbold"><a th:href="@{${report.legs.wowheadUrl}}">Loading...</a></td>-->
                <!--<td><a th:href="@{${report.legs.bossWowheadUrl}}">Loading...</a></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Feet</td>-->
                <!--<td class="textbold"><a th:href="@{${report.feet.wowheadUrl}}">Loading...</a></td>-->
                <!--<td><a th:href="@{${report.feet.bossWowheadUrl}}">Loading...</a></td>-->
                <!--</tr>-->
            </table>

            <h2>Relics</h2>

            <table class="report-table">
                <tr>
                    <th>Relic</th>
                    <th>Boss</th>
                </tr>
                <tr>
                    <td colspan="2" th:text="${report.relicType1}" class="relictype">Relic type 1</td>
                </tr>
                <tr th:each="relic : ${report.relics1}">
                    <td class="textbold"><a th:href="@{${relic.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${relic.bossWowheadUrl}}">Loading...</a></td>
                </tr>
                <tr>
                    <td colspan="2" th:text="${report.relicType2}" class="relictype">Relic type 2</td>
                </tr>
                <tr th:each="relic : ${report.relics2}">
                    <td class="textbold"><a th:href="@{${relic.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${relic.bossWowheadUrl}}">Loading...</a></td>
                </tr>
                <tr>
                    <td colspan="2" th:text="${report.relicType3}" class="relictype">Relic type 3</td>
                </tr>
                <tr th:each="relic : ${report.relics3}">
                    <td class="textbold"><a th:href="@{${relic.wowheadUrl}}">Loading...</a></td>
                    <td><a th:href="@{${relic.bossWowheadUrl}}">Loading...</a></td>
                </tr>
            </table>
        </div>
    </div>

    <footer th:replace="layout :: site-footer"></footer>
    <div style="clear:both"></div>
</div>
</body>
</html>